<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" style="height:100px">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://github.com/jamesnsjames/ecomwebsite/blob/gh-pages/assets/logo.png?raw=true" alt="Bootstrap" width="100" height="200" id="psy">
      </a>
     
        
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a id="linko" class="nav-link active" aria-current="page" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" id="linko1" aria-current="page" routerLink="products">Products</a>
          </li>
         
        
        </ul>
      </div>
    </div>
  </nav>
  <hr>
